{% extends 'blogs/base.html' %}
{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Список блогов</h1>
        <a href="{% url 'blogs:blog_create' %}" class="btn btn-primary mb-3">Создать новый блог</a>
        <ul class="list-group">
            {% for blog in object_list %}
                <li class="list-group-item">
                    <a href="{% url 'blogs:blog_detail' blog.pk %}">{{ blog.name }}</a>
                    <a href="{% url 'blogs:blog_update' blog.pk %}" class="btn btn-sm btn-secondary ml-3">Редактировать</a>
                    <a href="{% url 'blogs:blog_delete' blog.pk %}" class="btn btn-sm btn-danger ml-1">Удалить</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}