{% extends 'catalog/base.html' %}
{% block content %}
    <div class="container mt-5">
        <a class="btn btn-block btn-primary" role="button" href="{% url 'catalog:home' %}">Назад</a>
        <h1 class="mb-4">{{ product.name }}</h1>
        <p>Цена: {{ product.price }}</p>
        <p>Описание товара: {{ product.description }}</p>
        <p>Категория: {{ product.category }}</p>
        <p>Изображение: <img class="img-fluid" src="{{ product.image.url }}"></p>
        <p>Дата создания: {{ product.created_ad }}</p>
        <p>Дата обновления: {{ product.created_up }}</p>
    </div>
{% endblock %}